<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
</head>
<body>
    <div style="max-width: 420px;" class="container mx-auto">
        <h1 class="text-2xl font-bold mb-4">Add Student</h1>
        <form method="post" action="{% url 'students:add' %}">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2" for="first_name">First Name:</label>
                <input class="bg-gray-200 p-2 rounded-lg w-full" type="text" id="first_name" name="first_name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2" for="last_name">Last Name:</label>
                <input class="bg-gray-200 p-2 rounded-lg w-full" type="text" id="last_name" name="last_name">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-medium mb-2" for="age">Age:</label>
                <input class="bg-gray-200 p-2 rounded-lg w-full" type="number" id="age" name="age">
            </div>
            <input class="bg-blue-500 text-white p-2 rounded-lg" type="submit" value="Save">
        </form>
    </div>
</body>
</html>
