<!DOCTYPE html>
<html>
<head>
    <title>Edit Student</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="max-width: 420px; margin: auto;" class="bg-gray-200">
<h1 class="text-2xl font-medium text-center">Edit Student</h1>
<form class="bg-white p-6 rounded-lg shadow-md" method="post" action="{% url 'students:edit' student.id %}">
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2" for="first_name">First Name:</label>
        <input class="border border-gray-400 p-2 rounded-lg w-full" type="text" id="first_name" name="first_name" value="{{ student.first_name }}">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2" for="last_name">Last Name:</label>
        <input class="border border-gray-400 p-2 rounded-lg w-full" type="text" id="last_name" name="last_name" value="{{ student.last_name }}">
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2" for="age">Age:</label>
        <input class="border border-gray-400 p-2 rounded-lg w-full" type="number" id="age" name="age" value="{{ student.age }}">
    </div>
    <input class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600" type="submit" value="Save">
</form>
</body>
</html>
